/* Dashboard.css */

.custom-container {
  max-width: 100% !important; /* Set width to 100% by default */
}
.desktop-textfield {
  width: 400px !important; /* Adjust the width as needed */
  margin-right: 15px; /* Add margin for spacing */
}

.mobile-todo-grid {
  width: 100%;
}
.scrolldiv {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  max-height: 55vh;
}
.usernameline {
  color: rgb(46, 204, 113);

  @media (orientation: portrait) {
    width: 80%;
    margin: auto !important;
    word-break: break-word;
  }
}

@media screen and (max-width: 600px) {
  .custom-container {
    max-width: none !important; /* Remove max-width for mobile view */
    margin: 0 auto;
  }
}
